@page
@model TMDBMovieSearch.Pages.Shared.AboutModel

    @{
        ViewData["Title"] = "About";
    }

<h1>@ViewData["Title"]</h1>

<p>This application uses C#, asp.Net, and a third party API - <a href="https://www.themoviedb.org/?language=en-US">The MovieDB</a>.
    This is the developer's first C# project. Feel free to contact with questions or contribute to project <a href="https://github.com/KrisSmith7/TMDBMovieSearch">here</a>.</p>
