@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Watchflix</h1>
    <h4>Helping you find info on some of your favorite movies! </h4>
</div>


<div>
    <component type="typeof(MovieData)" render-mode="Static"/>
</div>
