@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="py-10 lg:w-1/2">
          <h3 class="card-header">Search for a Movie:</h3>
            <input
              name="userinput"
              id="userinput"
              type="text"
              class="w-full h-10 px-2 text-sm text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline"
              placeholder="Enter your search term here."
            />
            <button class="h-10 px-5 m-2">Search</button>
        </div>
